* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: aliceblue;
}

header {
  padding-top: 20px;
  margin-right: 20px;
  float: auto;
  font-size: 20px;
  width: 100%;
  height: 100px;
  display: block;
  background-color: black;
}

h1 {
  display: inline-block;
  font-size: 48px;
  color: aliceblue;
}

span {
  display: inline-block;
  color: brown;
  font-style: italic;
}

nav {
  float: right;
  height: 100%;
}

nav a:last-child {
  padding-right: 60px;
}

nav li {
  height: 100%;
  display: block;
  float: left;
  text-align: center;
  overflow: hidden;
}

nav li a {
display: block;
position: relative;
padding: 0;
float: left;
color: rgb(252, 252, 252);
font-size: 20px;
padding: 0 30px;
}

.me {
  width: auto;
  height: auto;
  border-radius: 50%;
  border: 3px solid;
  border-color:rgb(42, 41, 41);
  margin: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.myself {
  padding: 200px;
  border: 3px solid;
  margin: 0px;
  background-size: cover;
  background-position: center;
}

.myself h2 {
  color: rgb(253, 254, 252);
  height: 100%;
  font-weight: 100;
  float: right;
  font-size: 26px;
  font-weight: 700;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}
